<div class="row">
	<div class="span12">
		<h4 class="title">
			<span class="pull-left"><span class="text"><span class="line">Featured <strong>Products</strong></span></span></span>
			<span class="pull-right">
				<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
			</span>
		</h4>
		<div id="myCarousel" class="myCarousel carousel slide">
			<div class="carousel-inner">
				<div class="active item">
					<ul class="thumbnails">
						<% data.categories.each do |c| %>
							<% c[:products].select { |p| p.featured == true }.take(3).each do |p|%>
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<p>
											<% link_to "/#{c[:freindlyName]}/#{p[:freindlyName]}.html" do %>
												<%= image_tag "http://placehold.it/342x342" %>
											<% end %>
										</p>
										<%= link_to "#{p[:name]}", "/#{c[:freindlyName]}/#{p[:freindlyName]}.html", :class => "title" %><br/>
										<span class="category"><%= p[:description] %></span>
										<p class="price">£ <%= p[:price] %></p>
									</div>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
				<div class="item">
					<ul class="thumbnails">
						<% data.categories.each do |c| %>
							<% c[:products].select { |p| p.featured == true }.reverse_each.take(3).each do |p|%>
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<p>
											<% link_to "/#{c[:freindlyName]}/#{p[:freindlyName]}.html" do %>
												<%= image_tag "http://placehold.it/342x342" %>
											<% end %>
										</p>
										<%= link_to "#{p[:name]}", "/#{c[:freindlyName]}/#{p[:freindlyName]}.html", :class => "title" %><br/>
										<span class="category"><%= p[:description] %></span>
										<p class="price">£ <%= p[:price] %></p>
									</div>
								</li>
							<% end %>
						<% end %>				
					</ul>
				</div>
			</div>							
		</div>
	</div>						
</div>