<% c = locals[:category] %>
<% p = locals[:product] %>

<section class="header_text sub">
	<h4><span>Product Detail</span></h4>
</section>
<section class="main-content">				
	<div class="row">
        <%= partial 'partials/side_menu' %>
        <div class="span9">
			<div class="row">
				<div class="span4">
					<% p[:images].take(1).each do |i| %>
						<% link_to "#{i[:largeImageUrl]}", :class => "thumbnail fancybox", :title => "#{i[:largeImageTitle]}" do %>
							<%= image_tag "#{i[:thumbnailUrl]}" %>
						<% end %>
					<% end %>											
					<ul class="thumbnails small">	
						<% p[:images].each do |i| %>
							<li class="span1">
								<% link_to "#{i[:largeImageUrl]}", :class => "thumbnail fancybox", :title => "#{i[:largeImageTitle]}" do %>
									<%= image_tag "#{i[:thumbnailUrl]}" %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
				<div class="span5">
					<address>
						<h4><%= p[:name] %></h4>
						<p><%= p[:description] %></p>
						<p><strong>Featues & Benefits</strong></p>
						<ul>
							<% p[:features].each do |f| %>
								<li><%= f %></li>
							<% end %> 
						</ul>						
					</address>									
				</div>
				<div class="span5">
					<form class="form-inline">		
						<%= link_to "Enquire", "/contact.html?product=#{p[:freindlyName]}", :class => "btn btn-inverse" %>
					</form>
				</div>							
			</div>
			<div class="row">
				<div class="span9">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home">Specification</a></li>
					</ul>							 
					<div class="tab-content">
						<div class="tab-pane active" id="home">
							<table class="table table-striped shop_attributes">	
								<tbody>
									<% p[:specifications].each do |s| %>
										<tr class="">
											<th><%= s.split(',').first %></th>
											<td><%= s.split(',').last %></td>
										</tr>	
									<% end %>
								</tbody>
							</table>
						</div>
					</div>							
				</div>						
				<%= partial 'partials/related_products', :locals => { :category => c } %>
			</div>
		</div>

	</div>
</section>	
<% content_for :jsscript do %>
    <script type="text/javascript">
            
	        $(document).ready( function() {
	        	$('.fancybox').fancybox();
		        // Group images by gallery using `data-fancybox-group` attributes
		        var galleryId = 1;
		        $('.thumbnail').each( function() {
		            $(this).attr('data-fancybox-group', 'gallery-' + galleryId++);
		        });
		        // Initialize Fancybox
		        $('.thumbnail').fancybox({
		            padding : 0,
		            openEffect  : 'elastic'
		        });
			});
        </script>
<% end %>

